
a {
  color: black;
  text-decoration: none;
}

.bg--mmq {
  background: #f0fff7;
}

.mb--footer {
  margin-bottom: 5rem;
}

.circle--menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
}

.font-11 {
  font-size: 11px;
}

.mt--hero {
  margin-top: -9rem;
}

.mt--navbar {
  margin-top: 5rem;
}

.radius--8 {
  border-radius: 8px;
}

.text--gray {
  color: #808080;
}

.card--title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card--body {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card--height {
  height: 210px;
}

.arrow-long-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  width: 64px;
  height: 5px;
}

.arrow-long-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  right: 0;
  bottom: -2px;
}

.swiper--height {
  height: 520px;
}

/* --------- PRELOADER --------- */
.preloader {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin: 0 auto;
}
/* ------- END PRELOADER ------- */

.title-detail-blog {
  font-weight: bold;
  font-size: 16px;
  line-height: 144%;
}

.description-blog {
  font-size: 12px;
  line-height: 144%;
  text-align: justify;
  text-indent: 15px;
  color: #505050;
}

.form-comment {
  width: 340px;
  height: 58px;
  left: 34px;
  border: 0ch;
  background: #DEDEDE;
  border-radius: 50px;
}